body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;

    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff; /* White background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.chat-header {
    background-color: #28a745; /* Green header */
    color: #fff; /* White text */
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header h2 {
    margin: 0;
}

.chat-footer {
    background-color: #f1f1f1; /* Light gray footer */
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout-btn {
    background-color: #dc3545; /* Red logout button */
    color: #fff; /* White text */
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-body {
    height: 1000px;
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    max-height: 400px;
    align-self: flex-start;
}

.message-area {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.message-list {
    list-style-type: none;
    padding: 0;
}

.message-input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.send-btn {
    background-color: #007bff; /* Blue send button */
    color: #fff; /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.send-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.send-btn:active {
    background-color: #004380; /* Even darker blue on click */
}

/* CSS for message styling */
.message {
    padding: 8px 12px;
    border-radius: 10px;
    margin: 5px 0;
    color: white;
    max-width: 70%;
}

.sent {
    background-color: lightskyblue;
    color: black;
    align-self: flex-end;
}

.received {
    background-color: #f1f1f1;
    color: #333;
    align-self: flex-start;
}

.username {
    font-weight: bold;
}
