body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 80%;
    max-width: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.chat-header, .chat-footer {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.chat-footer {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.chat-body {/*
    flex: 300;*/
    height: 300px;
    padding: 10px;
    overflow-y: auto;
}

.message-area {
    list-style: none;
    padding: 0;
    margin: 0;
}

.message {
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 4px;
    max-width: 70%;
}

.message.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.message.received {
    background-color: #ffffff;
    align-self: flex-start;
    border: 1px solid #f0f0f0;
}

.username {
    font-weight: bold;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007bff; /* Blue color */
    color: white;
    border-radius: 5px;
    margin-right: 10px;
}

.button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


